doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.row
      div.col.s1.offset-s1.mini
        a API
      div.col.s1.mini.offset-s1
        a(href="https://github.com/ericking97/sepomex_api") Github
      div.col.s2.mini.offset-s1
        a(href="/") Busqueda básica
      div.col.s2.mini.offset-s1
        a Busqueda Avanzada
    block content
